<div class="row mb-1 custom-border mr-0">
  <div class="col-md-2 p-1 text-center border-right">
    <img src="assets/product.png" alt="product icon" width="100%">
  </div>

<!-- Detail Article -->
  <div class="col-md-3 border-right">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-circle-info text-info"></i></div>
        <div class="col-md-9">Code article</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-circle-info text-info"></i></div>
        <div class="col-md-9">Designation</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-dollar-sign text-success"></i></div>
        <div class="col-md-9">Prix HT</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-dollar-sign text-success"></i></div>
        <div class="col-md-9">Prix TTC</div>
      </div>
    </div>
  </div>

  <!-- Detail Categorie -->
  <div class="col-md-4 border-right">
    <div class="row">
      <div class="col-md-2">
        <i class="fa-solid fa-flag text-info"></i>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">Code categorie</div>
          <div class="col-md-12">Desccription categorie</div>
        </div>
      </div>
    </div>
  </div>


  <!-- Buttons action -->
  <div class="col-md-3  mt-2">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-sm btn-warning"> <i class="fa-solid fa-edit"></i></button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-sm btn-primary"><i class="fa-solid fa-circle-info"></i></button>
      </div>
    </div>
  </div>

</div>
