<div class="row mb-1 custom-border mr-0">
  <div class="col-md-2 p-1 text-center border-right">
    <img src="assets/product.png" alt="product icon" width="100%">
  </div>

<!-- Detail Article -->
  <div class="col-md-3 border-right mt-2">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-circle-info text-info"></i></div>
        <div class="col-md-9">{{articleDto.codeArticle}}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-circle-info text-info"></i></div>
        <div class="col-md-9">{{articleDto.designation}}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-dollar-sign text-success"></i></div>
        <div class="col-md-9">{{articleDto.prixUnitaireHt}} €</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-dollar-sign text-success"></i></div>
        <div class="col-md-9">{{articleDto.prixUnitaireTtc}} €</div>
      </div>
    </div>
  </div>

  <!-- Detail Categorie -->
  <div class="col-md-4 border-right mt-2">
    <div class="row">
      <div class="col-md-2">
        <i class="fa-solid fa-flag text-info"></i>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">{{articleDto.categorie?.code}}</div>
          <div class="col-md-12">{{articleDto.categorie?.designation}}</div>
        </div>
      </div>
    </div>
  </div>


  <!-- Buttons action -->
  <div class="col-md-3 mt-2">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-sm btn-warning" (click)="modifierArticle()"> <i class="fa-solid fa-edit"></i></button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-sm btn-primary"><i class="fa-solid fa-circle-info"></i></button>
      </div>
    </div>
  </div>

</div>
