<section class="row top mb-5 justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header text-center">
        <h3>Inscription</h3>
      </div>
      <div class="card-body">
        <form>
          <div class="mb-3">
            <label>Nom utilisateur</label>
            <input type="text" class="form-control" placeholder="Nom utilisateur">
          </div>
          <div class="mb-3">
            <label>Code fiscal</label>
            <input type="text" class="form-control" placeholder="Code Fiscal">
          </div>
          <div class="mb-3">
            <label>Adresse 1</label>
            <input type="text" class="form-control" placeholder="Adresse 1">
          </div>
          <div class="mb-3">
            <label>Adresse 2</label>
            <input type="text" class="form-control" placeholder="Adresse 2">
          </div>
          <div class="mb-3">
            <label>Ville </label>
            <input type="text" class="form-control" placeholder="Ville">
          </div>
          <div class="mb-3">
            <label>Code postal </label>
            <input type="text" class="form-control" placeholder="Code postal">
          </div>
          <div class="mb-3">
            <label>Pays </label>
            <input type="text" class="form-control" placeholder="Pays">
          </div>
          <div class="mb-3">
            <label>Adresse E-mail</label>
            <input type="email" class="form-control" placeholder="E-mail">
          </div>
          <div class="mb-3">
            <label >Mot de passe</label>
            <input type="password" class="form-control" placeholder="Mot de passe">
          </div>
          <div class="mb-3">
            <label >Confirmer Mot de passe</label>
            <input type="password" class="form-control" placeholder="Confirmer Mot de passe">
          </div>
          <div class="mb-3 d-flex justify-content-between">
            <a [routerLink]="['/login']" class="btn btn-link">S'authentifier</a>
            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-check"></i> S'inscrire</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
