<div class="col mb-3">
  <div class="col-md-12 mb-3 mt-2">
    <img src="assets/product.png" class="rounded-circle" width="200px" height="200px" alt="product image">
  </div>
  <div class="col-md-12">
    <div class="col-md-12 mb-3">
      <h2><i class="fa-solid fa-info-circle text-info"></i>&nbsp; Informations de l'article</h2>
    </div>
    <div class="col-md-12">
      <form>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Code article">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Designation">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Prix unitaire HT">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Prix unitaire TTC">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Taux TVA">
          </div>
          <div class="col">
            <select class="form-control">
              <option>Sélectionner une catégorie</option>
            </select>
          </div>
        </div>
      </form>

    </div>
  </div>

  <div class="col-md-12 text-right">
    <button class="btn btn-warning mr-2"><i class="fa-solid fa-ban"></i> Annuler</button>
    <button class="btn btn-success"> <i class="fa-solid fa-save"></i> Enregistrer</button>
  </div>
</div>
