<div class="col mb-3">
  <div class="col-md-12 mb-3 mt-2">
    <img src="assets/product.png" class="rounded-circle" width="200px" height="200px" alt="product image">
  </div>
  <div class="col-md-12">
    <div class="col-md-12 mb-3">
      <h2><i class="fa-solid fa-info-circle text-info"></i>&nbsp; Informations de l'article</h2>
    </div>
    <div class="col-md-12">
      <div class="alert alert-danger" *ngIf="errorMsg.length > 0">
        <span *ngFor="let error of errorMsg">
          {{error}}
        </span>
      </div>
      <form>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" name="codearticle" placeholder="Code article" [(ngModel)]="articleDto.codeArticle">
          </div>
          <div class="col">
            <input type="text" class="form-control" name="designation" placeholder="Designation" [(ngModel)]="articleDto.designation">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" name="prixht" placeholder="Prix unitaire HT" (input)="calculerTTC()" [(ngModel)]="articleDto.prixUnitaireHt">
          </div>
          <div class="col">
            <input type="text" class="form-control" name="prixttc" placeholder="Prix unitaire TTC" [(ngModel)]="articleDto.prixUnitaireTtc">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" name="tauxtva" placeholder="Taux TVA" (input)="calculerTTC()" [(ngModel)]="articleDto.tauxTva">
          </div>
          <div class="col">
            <select class="form-control" name="cat" [(ngModel)]="categorieDto?.id">
              <option>Sélectionner une catégorie</option>
              <option *ngFor="let cat of listCategories" [value]="cat.id">
                {{cat.code}} - {{cat.designation}}
              </option>
            </select>
          </div>
        </div>
      </form>

    </div>
  </div>

  <div class="col-md-12 text-right">
    <button (click)="cancel()" class="btn btn-warning mr-2"><i class="fa-solid fa-ban"></i> Annuler</button>
    <button class="btn btn-success" (click)="enregistrerArticle()"> <i class="fa-solid fa-save"></i> Enregistrer</button>
  </div>
</div>
