<div class="row mb-1 custom-border mr-0">
  <div class="col-md-2 p-1 text-center border-right">
    <img src="assets/product.png" alt="product icon" width="100%">
  </div>

  <!-- Detail Commande -->
  <div class="col-md-3 border-right mt-2">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-circle-info text-info"></i></div>
        <div class="col-md-9">Nom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-circle-info text-info"></i></div>
        <div class="col-md-9">Préenom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-phone text-info"></i></div>
        <div class="col-md-9">067889432</div>
      </div>
    </div>
  </div>

  <div class="col-md-4 border-right mt-2">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-barcode text-info"></i></div>
        <div class="col-md-9">CMD-123456</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-calendar-check text-info"></i></div>
        <div class="col-md-9">09/22/2333</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-cart-arrow-down text-info"></i></div>
        <div class="col-md-9">LIVREE</div>
      </div>
    </div>
  </div>


  <!-- Buttons action -->
  <div class="col-md-3 mt-2">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-sm btn-warning"> <i class="fa-solid fa-edit"></i></button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></button>
      </div>
    </div>
  </div>

</div>
