<div class="col">
  <div class="row m-3">
    <div class="col-md-6 p-0">
      <h2>Liste des articles</h2>
    </div>
    <div class="col-md-6 text-right ">
      <app-button-action (clickEvent)="nouvelArticle()">
      </app-button-action>
    </div>
    <div class="alert alert-danger" *ngIf="errorMsgs">
      {{ errorMsgs }}
    </div>
  </div>
  <div class="col m-3">
    <app-detail-article
      *ngFor="let article of listArticle"
      [articleDto]="article"
      (supprissionResult)="handleSupprission($event)"
    >
    </app-detail-article>
  </div>
  <div class="row mb-3">
    <div class="col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>
