<div class="col mb-3 mt-2">
  <div class="col-md-12">
    <div class="col-md-12 mb-3">
      <h4>Nouvelle Categorie</h4>
    </div>
    <div class="col-md-12">
      <div class="alert alert-danger" *ngIf="errorMsg.length > 0">
        <div *ngFor="let msg of errorMsg">
          <span>{{msg}}</span>
        </div>
      </div>
      <form>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Code categorie" name="codecategorie" [(ngModel)]="categoryDto.code">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Description" name="designationcategorie" [(ngModel)]="categoryDto.designation">
          </div>
        </div>
      </form>

    </div>
  </div>

  <div class="col-md-12 text-right">
    <button (click)="cancel()" class="btn btn-warning mr-2"><i class="fa-solid fa-ban"></i> Annuler</button>
    <button class="btn btn-success" (click)="enregistrerCategorie()"> <i class="fa-solid fa-save"></i> Enregistrer</button>
  </div>
</div>
