<div class="col mb-3 mt-2">
  <div class="col-md-12">
    <div class="col-md-12 mb-3">
      <h4>Nouvelle Categorie</h4>
    </div>
    <div class="col-md-12">
      <form>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Code categorie">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Description">
          </div>
        </div>
      </form>

    </div>
  </div>

  <div class="col-md-12 text-right">
    <button (click)="cancel()" class="btn btn-warning mr-2"><i class="fa-solid fa-ban"></i> Annuler</button>
    <button class="btn btn-success"> <i class="fa-solid fa-save"></i> Enregistrer</button>
  </div>
</div>
